<footer class="footer parallax-container" data-scroll-section>
  <div class="footer-inner">
    <div class="footer-btn-container">
        <a href="<%= meta.linkPath %>message.html" class="fast-career"><span><span class="spacing">ファーストキャリアの</span><br>選択に関する問題提起</span></a>
      <a href="https://open.talentio.com/1/c/m3/requisitions/detail/21958?utm_source=m3-lp&utm_campaign=fresh&utm_medium=web" target="_blank" rel="noopener noreferrer" class="en entry"><span>ENTRY</span></a>
    </div>
    <nav class="footer-nav">
      <ul class="footer-nav__items">
       <div class="footer-nav__items__left">
       <li class="footer-nav__item top"><a href="<%= meta.linkPath %>"><span class="en">TOP</span></a></li>
	        <li class="footer-nav__item about">
	          <a href="<%= meta.linkPath %>about.html"
	            ><span class="en">ABOUT US</span><span class="small">&nbsp;-&nbsp;エムスリーについて</span></a
	          >
	          <ul class="about-items">
	            <li class="about-item"><a href="<%= meta.linkPath %>about/mission.html">ミッションと事業</a></li>
	            <li class="about-item"><a href="<%= meta.linkPath %>about/culture.html">エムスリーの文化</a></li>
	            <li class="about-item"><a href="<%= meta.linkPath %>about/data.html">数字で見る成長環境</a></li>
	          </ul>
	        </li>
       </div>
       <div class="footer-nav__items__right">
       	 <li class="footer-nav__item"><a href="<%= meta.linkPath %>person.html"><span class="en">PERSON</span class="en"><span class="small">&nbsp;-&nbsp;エムスリーの人</span></a></li>
	        <li class="footer-nav__item"><a href="<%= meta.linkPath %>recruit.html"><span class="en">RECRUIT</span><span class="small">&nbsp;-&nbsp;採用情報</span></a></li>
       </div>
      </ul>
    </nav>
  </div>
  <p class="footer-copyright">Copyright&copy; M3 inc, All Rights Reserved.</p>
</footer>
