<main id="js-topContent" class="top-main parallax-container" data-scroll-section>
  <div class="kv-title__desc">
    <p>
      <a href="./message.html">
      	日本の優秀な学生に、ファーストキャリアの<br /><span class="--spacing">選択について問題提起したい。</span>
	      <span  class="kv-click-link"
	        ><picture>
						<source
							media="(min-width: 960px)"
							srcset="<%= meta.imgPath %>btn-arrow-blue-2-pc.svg"
						/><img
								src="<%= meta.imgPath %>btn-arrow-blue-2.svg"
								alt="click"
								width="180"
								height="auto"
						/>
					</picture>
				</span>
      </a>
    </p>
  </div>

  <!-- VALUE QUARTET -->
  <article>
    <section class="section-value">
      <h2 id="valuequartet" class="section-value__title">
        <img
          src="<%= meta.imgPath %>text-heading-value.svg"
          alt="VALUE QUARTET"
          width="300"
          height="auto"
        />
      </h2>
      <div class="section-value__content">
				<div data-src="iQCgkp4B-5E" class="movie js-openModal rellax-target" data-scroll data-scroll-speed="1.5" data-rellax-speed="1" data-rellax-percentage="0.5" data-rellax-zindex="0">
					<video id="js-topMovie" width="1280" height="720" autoplay loop muted disablePictureInPicture playsinline>
						<source src="./assets/top-movie.webm" type="video/webm">
						<source src="./assets/top-movie.mp4" type="video/mp4">
					</video>
					<button class="movie__btn js-openModal" type="button">
						<img src="<%= meta.imgPath %>ic-movie-arrow.svg" alt="YouTube再生用のモーダルを開く" width="86" height="57">
					</button>
        </div>
        <section class="text">
          <h3 id="valuemovie" class="text__title">
            <span class="en">VALUE QUARTET</span>
            <span class="ja">コンセプトムービー</span>
          </h3>
          <p class="text__p">
            VALUE
            QUARTETとは、「戦略立案」「M&A」「新規事業開発」「グローバルビジネス」という4領域の仕事を体感できる新卒者向け採用直結型ジョブです。
          </p>
        </section>
      </div>
    </section>
  </article>
  <!-- VALUE QUARTET END-->

  <section class="section-topics">
    <h2 id="topics" class="section-topics__title">TOPICS</h2>
    <div class="js-textScramble"></div>
		<ul class="topics-items">
			<div class="--block">
				<li class="topics-item --spacing">
					<h3><a href="./person.html?id=cat1" class="js-scramble01"><span class="js-srOnly">#プロジェクトストーリー</span></a></h3></li>
				<li class="topics-item">
					<h3><a href="./person.html?id=cat2" class="js-scramble02"><span class="js-srOnly">#座談会</span></a></h3>
				</li>
				<li class="topics-item --spacing">
					<h3><a href="./person.html?id=cat3" class="js-scramble03"><span class="js-srOnly">#インタビュー</span></a></h3>
				</li>
			</div>
			<div class="--block">
				<li class="topics-item">
					<h3><a href="./person.html?id=cat4" class="js-scramble04"><span class="js-srOnly">#新卒入社</span></a></h3>
				</li>
				<li class="topics-item">
					<h3><a href="./person.html?id=cat5" class="js-scramble09"><span class="js-srOnly">#新規事業</span></a></h3>
				</li>
				<li class="topics-item">
					<h3><a href="./person.html?id=cat6" class="js-scramble05"><span class="js-srOnly">#中途入社</span></a></h3>
				</li>
			</div>
			<div class="--block">
				<li class="topics-item">
					<h3><a href="./person.html?id=cat7" class="js-scramble06"><span class="js-srOnly">#経営人材</span></a></h3>
				</li>
				<li class="topics-item">
					<h3><a href="./person.html?id=cat8" class="js-scramble10"><span class="js-srOnly">#M&A</span></a></h3>
				</li>
				<li class="topics-item --spacing">
					<h3><a href="./person.html?id=cat9" class="js-scramble11"><span class="js-srOnly">#グローバル</span></a></h3>
				</li>
				<li class="topics-item">
					<h3><a href="./person.html?id=cat10" class="js-scramble07"><span class="js-srOnly">#DX</span></a></h3>
				</li>
				<li class="topics-item">
					<h3><a href="./person.html?id=cat11" class="js-scramble08"><span class="js-srOnly">#AI</span></a></h3>
				</li>
			</div>
			<div class="--block">
				<li class="topics-item">
					<h3><a href="./person.html?id=cat12" class="js-scramble13"><span class="js-srOnly">#COVID-19</span></a></h3>
				</li>
				<li class="topics-item">
					<h3><a href="./person.html?id=cat13" class="js-scramble12"><span class="js-srOnly">#執行役員</span></a></h3>
				</li>
				<li class="topics-item">
					<h3><a href="./person.html?id=cat14" class="js-scramble14"><span class="js-srOnly">#投資銀行</span></a></h3>
				</li>
			</div>
			<div class="--block">
				<li class="topics-item">
					<h3><a href="./person.html?id=cat15" class="js-scramble15"><span class="js-srOnly">#20代の成長環境</span></a></h3>
				</li>
				<li class="topics-item --spacing">
					<h3><a href="./person.html?id=cat16" class="js-scramble16"><span class="js-srOnly">#マッキンゼー</span></a></h3>
				</li>
			</div>
			<div class="--block">
				<li class="topics-item">
					<h3><a href="./person.html?id=cat17" class="js-scramble17"><span class="js-srOnly">#総合商社</span></a></h3>
				</li>
				<li class="topics-item">
					<h3><a href="./person.html?id=cat18" class="js-scramble19"><span class="js-srOnly">#BCG</span></a></h3>
				</li>
				<li class="topics-item --spacing">
					<h3><a href="./person.html?id=cat19" class="js-scramble18"><span class="js-srOnly">#メガベンチャー</span></a></h3>
				</li>
			</div>
			<li class="topics-item --spacing">
				<h3><a href="./person.html?id=cat20" class="js-scramble20"><span class="js-srOnly">#コンサル</span></a></h3>
			</li>
			<li class="topics-item">
				<h3><a href="./person.html?id=cat21" class="js-scramble21"><span class="js-srOnly">#業務執行役員</span></a></h3>
			</li>
		</ul>
  </section>

  <section class="section-about section-number">
    <div class="inner">
      <div class="title">
        <h2 id="about">
          <span class="en">ABOUT US</span>
        </h2>
        <div class="sub-title">
          <span class="desc">エムスリーについて</span>
          <span class="number">01</span>
        </div>
      </div>
			<a class="c-btn__readmore about-btn__readmore" href="./about.html"
      ><span>READ MORE</spa></a
    >
    </div>
    <div class="bg-img parallax-window rellax-target"  data-scroll data-scroll-speed="3" data-rellax-speed="1.5" data-rellax-percentage="0.8" data-rellax-zindex="0">
					<picture>
						<source
							media="(min-width: 1366px)"
							srcset="<%= meta.imgPath %>bg-top1-pc.jpg"
						/>
						<img src="<%= meta.imgPath %>bg-top1.jpg"
					alt=""
					width="1366"
					height="auto"
				/>
					</picture>
    </div>
  </section>

  <section class="section-person section-number">
    <div class="inner">
      <div class="title">
        <h2 id="about">
          <span class="en">PERSON</span>
        </h2>
        <div class="sub-title __desc">
          <span class="desc">エムスリーの人</span>
        </div>
        <div class="sub-title __number">
          <span class="number">02</span>
        </div>
      </div>
    </div>
    <div class="bg-img rellax-target" data-scroll data-scroll-speed="2" data-rellax-speed="1" data-rellax-percentage="0.8" data-rellax-zindex="0">
		<picture>
			<source
				media="(min-width: 1366px)"
				srcset="<%= meta.imgPath %>bg-top2-pc.jpg"
			/>
			<img src="<%= meta.imgPath %>bg-top2.jpg"
		alt=""
		width="1366"
		height="auto"
	/>
		</picture>
    </div>
		<a class="c-btn__readmore person-btn__readmore" href="./person.html"
		><span>READ MORE</spa></a
	>
  </section>

  <section class="section-recruit section-number">
    <div class="inner">
      <div class="title">
        <h2 id="recruit">
          <span class="en">RECRUIT</span>
        </h2>
        <div class="sub-title">
          <span class="desc">採用情報</span>
          <span class="number">03</span>
        </div>
      </div>
			<a class="c-btn__readmore recruit-btn__readmore" href="./recruit.html"
      ><span>READ MORE</spa></a
    >
    </div>
    <div class="bg-img rellax-target" data-scroll data-scroll-speed="3" data-rellax-speed="1.5" data-rellax-percentage="0.8" data-rellax-zindex="0">
		<picture>
			<source
				media="(min-width: 1366px)"
				srcset="<%= meta.imgPath %>bg-top3-pc.jpg"
			/>
			<img src="<%= meta.imgPath %>bg-top3.jpg"
		alt=""
		width="1366"
		height="auto"
	/>
		</picture>
    </div>
  </section>

  <div class="c-btn__anchor">
      <button type="button" id="js-scrollTop">
        <img
          src="<%= meta.imgPath %>btn-anchor-arrow.svg"
          alt=""
          width="222"
          height="auto"
      /></button>
  </div>
</main>
