<main class="p-m3ism-main parallax-container" data-scroll-section>
  <div class="c-pages-container">
    <section class="p-m3ism-kv">
      <h1 class="p-m3ism-kv__side">エムスリーの文化</h1>
      <div class="p-m3ism-kv__main">
        <h2 class="p-m3ism-kv__title">
          <picture>
            <source
              media="(min-width: 960px)"
              srcset="<%= meta.imgPath %>text-m3ism-kv.svg"
            />
            <img
              src="<%= meta.imgPath %>text-m3ism-kv-sp.svg"
              alt="M3 ism"
              width="535"
              height="auto"
            />
          </picture>
        </h2>
        <div class="p-m3ism-kv__title__desc">
          <p class="large">
            独自の文化と価値観が、<br
              class="is-sp"
            />人と事業の成長を加速させる。
          </p>
          <p class="small">
            細かすぎるルールで縛らない。<br
              class="is-sp"
            />すべてを制度化して固定しない。<br />組織の在り方が硬直化し、事業や人の進化が<br
              class="is-sp"
            />停滞してしまうから。<br />エムスリーでは、ルールや制度ではなく<br
              class="is-sp"
            />社員全員が持つ共通の文化と価値観が<br />人と事業を成長させる何よりの力となっています。
          </p>
        </div>
      </div>
    </section>
    <!-- // p-m3ism-kv -->
  </div>
  <!-- // c-pages-container -->

  <!-- 01バリューカルテット -->
  <div class="p-m3ism-section-container --value js-fadeIn">
    <section class="p-m3ism-heading">
      <span class="p-m3ism-heading__num"
        ><img
          src="<%= meta.imgPath %>text-mission-num1.svg"
          alt="01"
          width="100"
          height="auto"
      /></span>
      <h2 class="p-m3ism-heading__title">
        <span class="vertical">バリューカルテット</span>
      </h2>
      <p class="p-m3ism-heading__text">
        何か一つの領域で10人に1人（上位10%）のスキルを身に付けても、それだけで他を圧倒するクリティカルな強みにはならない。しかしエムスリーには、自らのキャリアビジョンに沿ったジョブローテーションを通じて、20代で「戦略立案」「M&A」「新規事業開発」「グローバルビジネス」の4領域の業務を経験する環境がある。4つのスキルを掛け合わせ、1万人に1人のトップティア人材をめざしてください。
      </p>
    </section>

    <div class="p-m3ism-figure">
      <picture>
        <source
          media="(min-width: 960px)"
          srcset="<%= meta.imgPath %>img-m3ism-fig1-pc.png"
        />
        <img
          src="<%= meta.imgPath %>img-m3ism-fig1.png"
          alt="戦略立案、M&A、新規事業開発、グローバルビジネス"
          width="850"
          height="auto"
        />
      </picture>
    </div>
  </div>
  <!-- 01バリューカルテット -->

  <!-- 02オーナーシップ -->
  <div class="p-m3ism-section-container --owner js-fadeIn">
    <section class="p-m3ism-heading">
      <span class="p-m3ism-heading__num"
        ><img
          src="<%= meta.imgPath %>text-mission-num2.svg"
          alt="02"
          width="100"
          height="auto"

      /></span>
      <h2 class="p-m3ism-heading__title">
        <span class="vertical">オーナーシップ</span>
      </h2>
      <p class="p-m3ism-heading__text">
        仕事の主人公は自分。上司でさえ、事業の最大成果を得るためのリソースに過ぎない。そんな圧倒的な当事者意識（社長意識）が、仕事の充実感を生み、自らの成長を加速させる。エムスリーでは、入社2年目でプロジェクトオーナーになることも珍しくない。上司に言われた通りやりつづけた人と、若くしてオーナーシップを発揮しビジネスの現場で決断を下しつづけた人とでは、たった1年でも圧倒的な差がつきます。
      </p>
    </section>

    <div class="p-m3ism-figure">
      <img
        src="<%= meta.imgPath %>img-m3ism-fig2.png"
        alt=""
        width="850"
        height="auto"

      />
    </div>
  </div>
  <!-- 02オーナーシップ -->

  <!-- 03ケーススタディ -->
  <div class="p-m3ism-section-container --study js-fadeIn">
    <section class="p-m3ism-heading">
      <span class="p-m3ism-heading__num"
        ><img
          src="<%= meta.imgPath %>text-mission-num3.svg"
          alt="03"
          width="100"
          height="auto"

      /></span>
      <h2 class="p-m3ism-heading__title">
        <span class="vertical">ケーススタディより<br />リアルスタディ</span>
      </h2>
      <p class="p-m3ism-heading__text">
        ケーススタディに基づく戦略立案・戦略提案だけでは、市場に求められるビジネススキルの一面しか鍛えることはできません。自らが立てた戦略を自らの手で実践し、市場及び社会にその価値を問う。あの手この手で事業を成長させ、場合によっては事業撤退の判断を自分が下す。日常的なリアルスタディは、練習だけでは絶対に得られない貴重な経験と知見を与えてくれます。
      </p>
    </section>

    <div class="p-m3ism-figure">
      <img
        src="<%= meta.imgPath %>img-m3ism-fig3.png"
        alt=""
        width="850"
        height="auto"

      />
    </div>
  </div>
  <!-- 03ケーススタディ -->

  <!-- 04役職によって -->
  <div class="p-m3ism-section-container --officer js-fadeIn">
    <section class="p-m3ism-heading">
      <span class="p-m3ism-heading__num"
        ><img
          src="<%= meta.imgPath %>text-mission-num4.svg"
          alt="04"
          width="100"
          height="auto"

      /></span>
      <h2 class="p-m3ism-heading__title">
        <span class="vertical"
          >役職によって意見の<br />
          価値は変わらない</span
        >
      </h2>
      <p class="p-m3ism-heading__text">
        エムスリーでは、若手の意見であろうと社長の意見であろうと、平等に尊重され、平等に評価されます。役職がついていない１年目社員のアイデアも、ビジネス合理性があれば当たり前のように認められチャレンジの背中を押される。大切なのは、誰が言うかではなく、何を言うか。若手の意見だからといって耳を傾けない人は、逆に仕事ができない人と見なされます。
      </p>
    </section>
    <div class="p-m3ism-figure">
      <img
        src="<%= meta.imgPath %>img-m3ism-fig4.png"
        alt=""
        width="850"
        height="auto"

      />
    </div>
  </div>
  <!-- 04役職によって -->

  <!-- 05PDCA -->
  <div class="p-m3ism-section-container --pdca js-fadeIn">
    <section class="p-m3ism-heading">
      <span class="p-m3ism-heading__num"
        ><img
          src="<%= meta.imgPath %>text-mission-num5.svg"
          alt="05"
          width="100"
          height="auto"

      /></span>
      <h2 class="p-m3ism-heading__title">
        <span class="vertical">高速PDCA</span>
      </h2>
      <p class="p-m3ism-heading__text">
        100%の完成度を求めてサービスローンチに1年かけるくらいなら、60%の完成度でもいいから3か月で市場に出す。それが、エムスリーの考え方。答えを持っているのは上司でも社長でもなく、市場です。できる限り早く市場にぶつけてフィードバックをもらい、即時改善する。そのスピード感に、大手企業からの転職者はまず驚きます。
      </p>
    </section>
    <div class="p-m3ism-figure">
      <img
        src="<%= meta.imgPath %>img-m3ism-fig5.png"
        alt="PLAN DO CHECK ACT"
        width="850"
        height="auto"

      />
    </div>
  </div>
  <!-- 05PDCA -->

  <!-- 06新規事業開発の自由 -->
  <div class="p-m3ism-section-container --free js-fadeIn">
    <section class="p-m3ism-heading">
      <span class="p-m3ism-heading__num"
        ><img
          src="<%= meta.imgPath %>text-mission-num6.svg"
          alt="06"
          width="100"
          height="auto"

      /></span>
      <h2 class="p-m3ism-heading__title">
        <span class="vertical">新規事業開発の自由</span>
      </h2>
      <p class="p-m3ism-heading__text">
        エムスリーにおいて新事業とは、言われてつくるものではなく、社員から自然と湧き出てくるもの。年次役職関係なく誰かが起点となるアイデアを出せば、上司がそれを後押しする。そのアイデアに関心を持つ仲間が集まり、いつの間にかプロジェクトになっている。自らの事業部ミッションに加えて事業開発を兼務する社員が多いのは、そんな風土があるからです。
      </p>
    </section>
    <div class="p-m3ism-figure">
      <img
        src="<%= meta.imgPath %>img-m3ism-fig6.png"
        alt=""
        width="850"
        height="auto"

      />
    </div>
  </div>
  <!-- 06新規事業開発の自由 -->

  <div class="c-btn__anchor">
    <button type="button" id="js-scrollTop">
        <img
          src="<%= meta.imgPath %>btn-anchor-arrow.svg"
          alt=""
          width="222"
          height="auto"

      /></button>
  </div>
</main>
