<main class="p-numbers-main parallax-container" data-scroll-section>
  <div class="c-pages-container">
    <section class="p-numbers-kv">
      <h1 class="p-numbers-kv__side">数字でみる成長環境</h1>
      <div class="p-numbers-kv__main">
        <h2 class="p-numbers-kv__title">
          <span class="p-numbers-kv__title__text"><span>数字で見る</span></span>
          <span class="p-numbers-kv__title__text"><span>エムスリーの</span></span>
          <span class="p-numbers-kv__title__text"><span>成長環境</span></span>
        </h2>
        <p class="p-numbers-kv__title__desc">
          20代での圧倒的な成長を働く目的の<br
            class="is-sp"
          />第一義に置くのなら、<br />若いうちからチャレンジの機会を<br
            class="is-sp"
          />多く得られる環境を選ぶべきです。<br />
          そのとき基準となるのが、<br
            class="is-sp"
          />「成長産業×成長企業×成長環境」という3要素。<br />成長産業・成長企業なら、事業を意欲的につくり<br
            class="is-sp"
          />出し伸ばしていける。<br />そこに、経験豊富なベテラン社員だけじゃなく、<br />新卒社員も中心となって関われる「新卒にとっての<br
            class="is-sp"
          />成長環境」があることも重要です。<br />エムスリーはどうなのか、数字で見極めてください。
        </p>
      </div>
    </section>
  </div>
  <!-- // c-pages-container -->

  <!-- 成長企業 -->
  <section class="section-graph growth-industry">
      <h2 class="section-graph__title"><span>成長産業</span></h2>
    <section class="section-graph__inner c-pages-container">
      <div class="graph-flex-items">
        <div class="graph-flex-item">
          <div class="c-graph global-1">
            <div class="c-graph-heading">
              <div class="c-graph-heading__inner">
                <span class="c-graph-caption">Graph 01</span>
              </div>
              <h3 class="c-graph-heading__title js-showUp">
                <span>グローバル医療市場規模</span>
              </h3>
            </div>
            <div class="c-graph-desc ">
              <div class="graph-desc-obj js-fadeIn">
                <div class="graph-desc-obj__img">
                  <img
                    src="<%= meta.imgPath %>obj-graph-desc.svg"
                    alt=""
                    width="570"
                    height="auto"
                  />
                </div>
                <ul>
                  <li>人口増加、生活習慣病・慢性疾患患者の増加</li>
                  <li>モバイルヘルスサービス市場の拡大</li>
                  <li>公的医療サービスのデジタル化の進展</li>
                </ul>
              </div>
            </div>
            <div class="c-graph-img global-iryo">
              <img
                src="<%= meta.imgPath %>graph-global1-hidden.svg"
                alt="グローバル医療市場規模のグラフ"
                width="700"
                height="auto"
              />
              <div class="c-graph-img --showUp js-showUp">
                <span>
                  <img
                    src="<%= meta.imgPath %>graph-global2.svg"
                    alt="2010年～2020年の年平均成長率、4.0%"
                    width="300"
                    height="auto"
                  />
                </span>
              </div>
            </div>
          </div>
        </div>
        <!-- グローバル医療市場規模 -->

        <!-- グローバルIT市場規模 -->
        <div class="graph-flex-item">
          <div class="c-graph global-2">
            <div class="c-graph-heading">
              <div class="c-graph-heading__inner">
                <span class="c-graph-caption">Graph 02</span>
              </div>
              <h3 class="c-graph-heading__title js-showUp">
                <span>グローバルIT市場規模</spa>
              </h3>
            </div>
            <div class="c-graph-desc">
              <div class="graph-desc-obj js-fadeIn">
                <div class="graph-desc-obj__img">
                  <img
                    src="<%= meta.imgPath %>obj-graph-desc.svg"
                    alt=""
                    width="570"
                    height="auto"
                  />
                </div>
                <ul>
                  <li>リモートワーク拡大</li>
                  <li>遠隔教育の継続によるデバイス投資</li>
                  <li>企業のDX進展に伴うITサービス支援象</li>
                </ul>
              </div>
            </div>
            <div class="c-graph-img">
              <img
                src="<%= meta.imgPath %>graph-global2-hidden.svg"
                alt="グローバルIT市場規模のグラフ"
                width="700"
                height="auto"
              />
            </div>
          </div>
        </div>
      </div>
      <!--// flex-items end -->

      <!-- 医療×DX市場 -->
      <div class="iryou-dx">
        <div class="c-graph global-3">
          <div class="c-graph-heading">
            <div class="c-graph-heading__inner">
              <span class="c-graph-caption">Graph 03</span>
            </div>
            <h3 class="c-graph-heading__title js-showUp">
              <span>グローバル「医療×DX」<br class="is-sp" />市場規模見通し</spa>
            </h3>
          </div>
          <div class="iryo-dx-pc">
          	<div class="c-graph-desc js-fadeIn">
	            <div class="graph-desc-obj">
	              <div class="graph-desc-obj__img">
	                <img class="is-sp"
	                  src="<%= meta.imgPath %>obj-graph-desc.svg"
	                  alt=""
	                  width="570"
	                  height="auto"
	                />
	                <img class="is-pc"
	                  src="<%= meta.imgPath %>obj-graph-desc-pc.svg"
	                  alt=""
	                  width="324"
	                  height="auto"
	                />
	              </div>
	              <ul>
	                <li>製薬マーケティングのデジタル活用</li>
	                <li>研究開発のDX進展</li>
	                <li>医療ビッグデータ、<br class="is-pc">AI活用</li>
	                <li>オンライン診療普及</li>
	                <li>消費者向けヘルスケアデジタルツール</li>
	              </ul>
	            </div>
	          </div>
	          <div class="c-graph-img">
	            <img class="is-sp"
	              src="<%= meta.imgPath %>graph-global3-hidden.svg"
	              alt="グローバル「医療×DX」市場規模見通しのグラフ"
	              width="700"
	              height="auto"
	            />
	            <img class="is-pc"
	              src="<%= meta.imgPath %>graph-global-pc-hidden.svg"
	              alt="グローバル「医療×DX」市場規模見通しのグラフ"
	              width="1000"
	              height="auto"
	            />
	            <div class="c-graph-img --showUp js-showUp">
	              <span>
	                <img
	                  src="<%= meta.imgPath %>graph-global5.svg"
	                  alt="年25%程度の成長継続見込み"
	                  width="300"
	                  height="auto"
	                />
	              </span>
	            </div>
	          </div>
          </div>
        </div>
      </div>
      <!-- //医療×DX市場 -->
    </section>
    <!--// section-graph__inner c-pages-container -->
  </section>
  <!-- 成長産業 end -->

  <!-- 成長企業 -->
  <section class="section-graph growth-company ">
      <h2 class="section-graph__title"><span>成長企業</span></h2>
		<div class="c-pages-container growth-company__kv">
			<img class="growth-company__kv__bg" src="<%= meta.imgPath %>bg-growth-company.svg" alt="" width="675" height="auto">
			<div class="growth-company__kv__inner">
				<dl>
					<dt>時価総額の成長率</dt>
					<dd>上場後16年で<span class="num js-shuffleText" style="font-family: BodoniItalic;font-style: italic;font-weight: normal;">92</span><span class="text">倍</span></dd>
				</dl>
			</div>
		</div>
    <section class="c-pages-container section-graph__inner section-rieki">
					<!-- 売上利益 -->
					<div class="c-graph uriage">
						<div class="c-graph-heading">
							<div class="c-graph-heading__inner">
								<span class="c-graph-caption">Graph 01</span>
							</div>
							<h3 class="c-graph-heading__title js-showUp">
								<span>売り上げ収益</span>
							</h3>
						</div>
						<div class="c-graph-img">
							<img class="is-sp"
								src="<%= meta.imgPath %>graph-company1.svg"
								alt="2020年:169,198,000,000円"
								width="650"
								height="auto"
							/>
							<img class="is-pc"
								src="<%= meta.imgPath %>graph-company1-pc.svg"
								alt="2020年:169,198,000,000円"
								width="1010"
								height="auto"
							/>
						</div>
					</div>
					<!-- 売上利益 -->

					<!-- 営業利益・当期利益 -->
					<div class="c-graph eigyo">
						<div class="c-graph-heading">
							<div class="c-graph-heading__inner">
								<span class="c-graph-caption">Graph 02</span>
							</div>
							<h3 class="c-graph-heading__title js-showUp">
								<span>営業利益・当期利益</span>
							</h3>
						</div>
						<div class="c-graph-img">
							<img class="is-sp"
								src="<%= meta.imgPath %>graph-company2.svg"
								alt="2020年:169,198,000,000円"
								width="650"
								height="auto"
							/>
							<img class="is-pc"
								src="<%= meta.imgPath %>graph-company2-pc.svg"
								alt="2020年:169,198,000,000円"
								width="1010"
								height="auto"
							/>
						</div>
					</div>
					<!-- //営業利益・当期利益 -->
    </section>
		<!-- // section-graph__inner section-rieki -->

		<div class="c-pages-container growth-company__kv jigyo">
			<img class="growth-company__kv__bg is-sp" src="<%= meta.imgPath %>bg-growth-company2.png" alt="" width="790" height="auto">
			<img class="growth-company__kv__bg is-pc" src="<%= meta.imgPath %>bg-growth-company2-pc.png" alt="" width="790" height="auto">
			<img class="growth-company__kv__bg" src="<%= meta.imgPath %>bg-growth-company2-pc.png" alt="" width="790" height="auto">
			<div class="growth-company__kv__inner">
				<dl class="country">
					<dt>事業展開国数</dt>
					<dd><span class="num js-shuffleText" style="font-family: BodoniItalic;font-style: italic;font-weight: normal;">10</span>カ国</dd>
					<dd class="small">2021年8月現在</dd>
				</dl>
				<dl class="count">
					<dt>事業数</dt>
					<dd><span class="num js-shuffleText" style="font-family: BodoniItalic;font-style: italic;font-weight: normal;">50</span>事業</dd>
					<dd class="small">2021年8月現在</dd>
				</dl>
			</div>
		</div>

<!-- m3.com登録数 -->
		<div class="c-pages-container c-graph m3com">
			<div class="c-graph-heading">
				<div class="c-graph-heading__inner">
					<span class="c-graph-caption">Graph 01 </span>
				</div>
				<h3 class="c-graph-heading__title js-showUp ">
					<span class="u-graph-title-spacing">エムスリーグループの医師会員ネットワーク</span>
				</h3>
			</div>
			<div class="c-graph-img">
				<img
					src="<%= meta.imgPath %>graph-m3-parts.svg"
					alt="m3.com登録医師の推移のグラフ"
					width="700"
					height="auto"
				/>
				<div class="c-graph-img --showUp js-showUp">
					<span>
						<img
							src="<%= meta.imgPath %>graph-m3-fukidashi.svg"
							alt="全世界で600万人以上（世界の医師の50%）"
							width="266"
							height="auto"
						/>
					</span>
				</div>
			</div>
		</div>
  </section>
  <!-- 成長企業 end -->

  <!-- 成長環境 -->
  <section class="section-graph growth-env">
			<h2 class="section-graph__title"><span>成長環境</span></h2>
		<ul class="c-pages-container growth-env__items">

			<li class="growth-env__item" style="background-image: url(<%= meta.imgPath %>bg-growth-env1.svg);">
				<h3 class="sr-only">従業員数556人</h3>
				<span class="num js-shuffleText order" style="font-family: BodoniItalic;font-style: italic;font-weight: normal;">556</span>
			</li>

			<li class="growth-env__item" style="background-image: url(<%= meta.imgPath %>bg-growth-env2.svg);">
				<h3 class="sr-only">営業収益：1692億円</h3>
				<span class="num js-shuffleText order" style="font-family: BodoniItalic;font-style: italic;font-weight: normal;">1692</span>
			</li>

			<li class="growth-env__item" style="background-image: url(<%= meta.imgPath %>bg-growth-env3.svg);">
				<h3 class="sr-only">1事業あたりのチーム人数：8~10人</h3>
				<span class="num js-shuffleText order" style="font-family: BodoniItalic;font-style: italic;font-weight: normal;">8 10</span>
			</li>

			<li class="growth-env__item" style="background-image: url(<%= meta.imgPath %>bg-growth-env4.svg);">
				<h3 class="sr-only">複数事業を
					兼務している社員数：556人のうち103人</h3>
				<span class="num js-shuffleText order" style="font-family: BodoniItalic;font-style: italic;font-weight: normal;">103</span>
			</li>

			<li class="growth-env__item" style="background-image: url(<%= meta.imgPath %>bg-growth-env5.svg);">
				<h3 class="sr-only">新プロジェクト
					立ち上げ件数：1年で約20件</h3>
				<span class="num js-shuffleText order" style="font-family: BodoniItalic;font-style: italic;font-weight: normal;">20</span>
			</li>

			<li class="growth-env__item" style="background-image: url(<%= meta.imgPath %>bg-growth-env6.svg);">
				<h3 class="sr-only">20代～30代の役員数：14人（2021年8月現在）
				</h3>
				<span class="num js-shuffleText order" style="font-family: BodoniItalic;font-style: italic;font-weight: normal;">14</span>
			</li>
		</ul>
  </section>
  <!-- 成長環境 end -->
  <div class="c-btn__anchor">
    <button type="button" id="js-scrollTop">
			<img
				src="<%= meta.imgPath %>btn-anchor-arrow.svg"
				alt=""
				width="222"
				height="auto"
		/></button>
  </div>
</main>
