<main class="p-mission-main parallax-container" data-scroll-section>
  <div class="c-pages-container">
    <section class="p-mission-kv">
      <h1 class="p-mission-kv__side">ミッションと事業</h1>
      <h2 class="p-mission-kv__title">
        <span class="p-mission-kv__title__img"
          ><img
            src="<%= meta.imgPath %>text-mission-kv1.svg"
            alt="「医療×ITで」"
            width="550"
            height="auto"
        /></span>
        <span class="p-mission-kv__title__img"
          ><img
            src="<%= meta.imgPath %>text-mission-kv2.svg"
            alt="世界を変える。"
            width="550"
            height="auto"
        /></span>
      </h2>
    </section>

    <section class="p-mission-section __1">
      <h2 class="p-mission-section__title">
        <span class="number"
          ><img
            src="<%= meta.imgPath %>text-mission-num1.svg"
            alt="01"
            width="90"
            height="auto" /></span
        ><span class="text">ミッション</span>
      </h2>
      <section class="section-content">
        <h3 class="main-text">
          インターネットを活用し<br
            class="is-pc"
          />健康で楽しく長生きする人を１人でも増やし、<br
            class="is-pc"
          />不必要な医療コストを１円でも減らすこと。
        </h3>
        <p class="sub-text">
          それがエムスリーの願いであり、事業の目的でもあります。
        </p>
        <h3 class="sub-text --en">
          Making use of the Internet to increase, as much as possible,the number
          of people who can live longer and healthier lives,and to reduce, as
          much as possible, the amount of unnecessary medical costs.
        </h3>
        <h4 class="sub-small-text --en">
          this is both the desire and goal of M3.
        </h4>
      </section>
    </section>
  </div>
  <!-- // c-pages-container -->

  <!-- 02事業ドメイン -->
  <section class="p-mission-section __2">
    <h2 class="p-mission-section__title js-showUp">
      <div class="--flex">
        <span class="number"
          ><img
            src="<%= meta.imgPath %>text-mission-num2.svg"
            alt="02"
            width="100"
            height="auto" /></span
        ><span class="text">事業ドメイン</span>
      </div>
    </h2>

    <div class="section-content --flex">
      <div
        class="section-content__bg"
        style="
          background-image: url(<%= meta.imgPath %>bg-mission1.jpg);
          background-size: cover;
        "
      ></div>
      <section class="section-content__text">
        <h3 class="section-content__text__title">
          世界の医療産業が抱える<br
            class="is-pc"
          />複雑な課題を、<br />ITの力で解決する。
        </h3>
        <p>
          エムスリーが向き合うのは、日本に限らず世界中の医療課題です。世界のGDPの10%の市場規模をほこる医療分野は、医師はもちろんのこと、医療関係者から一般の方まで、この地球に生きる全ての方に関わりがある社会的意義の大きな事業領域。一方で、業界には複雑かつ多様なステイクホルダーが存在し、予防・検査から手術や緩和ケアといったバリューチェーンのそれぞれに高い専門性、創造力、解決への執着が要求されます。そうした難易度の高い課題に対して、世界最大規模の医療従事者向けプラットフォームを持つ私たちにしかできないユニークなアプローチで、業界の改善につながる価値あるサービスやプロダクトを創出しています。
        </p>
      </section>
    </div>

    <!-- グループ会社 -->
    <section class="group-company c-pages-container">
      <dvi class="p-mission-accordion">
        <button class="c-btn__accordion js-accordionToggle js-accordionAnchor">
          <span class="icon"></span
          ><span class="text --open js-accordionText"
            >事業領域とグループ会社について</span
          ><span class="text --close js-accordionText"
					>閉じる</span
				>
        </button>
      </dvi>
      <div
        id="js-toggleAccordion"
        class="group-company--sp js-accordionInner">
        <h3 class="group-company__title">
          2021年現在の事業領域とグループ会社(113社)
        </h3>
        <div class="c-pages-container group-company__content">
          <div class="group-company__content__inner--sp">
            <div class="m3inc">
              <img
                src="<%= meta.imgPath %>logo-m3inc.svg"
                alt=""
                width="430"
                height="auto"

              />
              <p>エムスリー株式会社</p>
            </div>

            <section class="world-group">
              <h4 class="world-group__img">
                <img
                  src="<%= meta.imgPath %>figure-world.jpg"
                  alt="世界のM3グループ アメリカ合衆国、スペイン、ドイツ、フランス、中華人民共和国、イギリス、インド、大韓民国"
                  width="550"
                  height="auto"

                />
              </h4>
            </section>

            <!-- 医療従事者支援 -->
            <section class="group-card juji">
              <h4 class="group-card__figure">
                <img
                  src="<%= meta.imgPath %>figure-juji.jpg"
                  alt="医療従事者支援・医療機関支援 人材：M3 Career、運営支援：株式会社シーユーシー、医療福祉分野における学習支援：M3 Education、電子カルテ：M3 DigKar、電子カルテ：株式会社シィ・エム・エス"
                  width="550"
                  height="auto"

                />
              </h4>
            </section>
            <!-- //医療従事者支援 -->

            <!-- 患者支援 -->
            <section class="group-card kanja">
              <h4 class="group-card__figure">
                <img
                  src="<%= meta.imgPath %>figure-kanja.jpg"
                  alt="患者支援 一般生活者・患者向けサービス REXA、QLIFE、iTICKET、Y'S、LINEヘルスケア、empheal inc. SENSE AID"
                  width="550"
                  height="auto"

                />
              </h4>
            </section>
            <!-- //患者支援 -->

            <!-- 医学関連領域の論文作成 -->
            <section class="group-card kanja">
              <h4 class="group-card__figure">
                <img
                  src="<%= meta.imgPath %>figure-ronbun.jpg"
                  alt="医学関連領域の論文作成や臨床研究・治験の企画立案"
                  width="550"
                  height="auto"

                />
              </h4>
            </section>
            <!-- //医学関連領域の論文作成 -->
          </div>
          <div class="bg-gray-inner">
            <!-- 創薬・治験 -->
            <section class="group-card kanja">
              <h4 class="group-card__figure">
                <img
                  src="<%= meta.imgPath %>figure-souyaku.jpg"
                  alt="創薬・治験 薬剤／医療機器開発支援"
                  width="550"
                  height="auto"

                />
              </h4>
            </section>
            <!-- //創薬・治験 -->

            <!-- マーケティング -->
            <section class="group-card kanja">
              <h4 class="group-card__figure">
                <img
                  src="<%= meta.imgPath %>figure-marketing.jpg"
                  alt="マーケティング 営業／マーケティング支援／データベース事業 広告代理店、コミュニケーションプラットフォームの提供、データベース事業、MR派遣・業務委託（CSO）"
                  width="550"
                  height="auto"

                />
              </h4>
            </section>
            <!-- //マーケティング -->
            <div class="seiyaku">
              <h4>製薬／医療機器企業支援</h4>
            </div>
          </div>
        </div>
      </div>
      <dvi class="p-mission-accordion">
        <button
          class="c-btn__accordion js-accordionToggle js-accordionOnlyClose"
          style="display: none"
        >
				<span class="icon"></span
          ><span class="text --open js-accordionText"
            >事業領域とグループ会社について</span
          ><span class="text --close js-accordionText"
					>閉じる</span
				>
        </button>
      </dvi>
			<!-- ----------------------PC表示---------------------- -->
			<div class="group-company--pc">
			<h3 class="group-company__title">
				2021年現在の事業領域とグループ会社(113社)
			</h3>
			<div class="c-pages-container group-company__content">
				<!-- ----------PC表示---------- -->
				<div class="group-company__content__inner--sp">
					<div class="m3inc">
						<img
							src="<%= meta.imgPath %>logo-m3inc.svg"
							alt=""
							width="430"
							height="auto"

						/>
						<p>エムスリー株式会社</p>
					</div>

					<section class="world-group">

						<h4 class="world-group__img">
							<img
								src="<%= meta.imgPath %>figure-world.jpg"
								alt="世界のM3グループ アメリカ合衆国、スペイン、ドイツ、フランス、中華人民共和国、イギリス、インド、大韓民国"
								width="550"
								height="auto"

							/>
						</h4>
					</section>

					<!-- 医療従事者支援 -->
					<section class="group-card juji">
						<!-- <h4 class="group-card__title">医療従事者支援</h4>
						<p class="group-card__desc">医療従事者／医療機関支援</p> -->
						<h4 class="group-card__figure">
							<img
								src="<%= meta.imgPath %>figure-juji.jpg"
								alt="医療従事者支援・医療機関支援 人材：M3 Career、運営支援：株式会社シーユーシー、医療福祉分野における学習支援：M3 Education、電子カルテ：M3 DigKar、電子カルテ：株式会社シィ・エム・エス"
								width="550"
								height="auto"

							/>
						</h4>

					</section>
					<!-- //医療従事者支援 -->

					<!-- 患者支援 -->
					<section class="group-card kanja">
						<h4 class="group-card__figure">
							<img
								src="<%= meta.imgPath %>figure-kanja.jpg"
								alt="患者支援 一般生活者・患者向けサービス REXA、QLIFE、iTICKET、Y'S、LINEヘルスケア、empheal inc. SENSE AID"
								width="550"
								height="auto"

							/>
						</h4>
					</section>
					<!-- //患者支援 -->

					<!-- 医学関連領域の論文作成 -->
					<section class="group-card kanja">
						<h4 class="group-card__figure">
							<img
								src="<%= meta.imgPath %>figure-ronbun.jpg"
								alt="医学関連領域の論文作成や臨床研究・治験の企画立案"
								width="550"
								height="auto"

							/>
						</h4>
					</section>
					<!-- //医学関連領域の論文作成 -->
				</div>
				<div class="bg-gray-inner">
					<!-- 創薬・治験 -->
					<section class="group-card kanja">
						<h4 class="group-card__figure">
							<img
								src="<%= meta.imgPath %>figure-souyaku.jpg"
								alt="創薬・治験 薬剤／医療機器開発支援"
								width="550"
								height="auto"

							/>
						</h4>
					</section>
					<!-- //創薬・治験 -->

					<!-- マーケティング -->
					<section class="group-card kanja">
						<h4 class="group-card__figure">
							<img
								src="<%= meta.imgPath %>figure-marketing.jpg"
								alt="マーケティング 営業／マーケティング支援／データベース事業 広告代理店、コミュニケーションプラットフォームの提供、データベース事業、MR派遣・業務委託（CSO）"
								width="550"
								height="auto"

							/>
						</h4>
					</section>
					<!-- //マーケティング -->
					<div class="seiyaku">
						<h4>製薬／医療機器企業支援</h4>
					</div>
				</div>
				<div class="group-company__content__inner--pc">
					<img
						class="figure-world"
						src="<%= meta.imgPath %>figure-world-pc.jpg"
						alt="世界のM3グループ アメリカ合衆国、スペイン、ドイツ、フランス、中華人民共和国、イギリス、インド、大韓民国"
						width="1000"
						height="auto"

					/>
					<div class="juji-kanja">
						<img
							class="figure-juji"
							src="<%= meta.imgPath %>figure-juji-pc.jpg"
							alt="医療従事者支援・医療機関支援 人材：M3 Career、運営支援：株式会社シーユーシー、医療福祉分野における学習支援：M3 Education、電子カルテ：M3 DigKar、電子カルテ：株式会社シィ・エム・エス"
							width="434"
							height="auto"

						/>
						<!-- <img
							class="obj-dot1"
							src="<%= meta.imgPath %>obj-dot1.svg"
							alt=""
							width="3"
							height="auto"
						/> -->
						<img
							class="figure-kanja"
							src="<%= meta.imgPath %>figure-kanja-pc.jpg"
							alt="患者支援 一般生活者・患者向けサービス"
							width="434"
							height="auto"

						/>
					</div>
					<div class="obj-dot2">
						<img
							src="<%= meta.imgPath %>obj-dot2.svg"
							alt=""
							width="248"
							height="auto"

						/>
					</div>
					<div class="ronbun-m3">
						<img
							class="figure-ronbun"
							src="<%= meta.imgPath %>figure-ronbun-pc.jpg"
							alt="医学関連領域の論文作成や臨床研究・治験の企画立案"
							width="314"
							height="auto"

						/>
						<img
							class="obj-dot3"
							src="<%= meta.imgPath %>obj-dot3.svg"
							alt=""
							width="56.5"
							height="auto"

						/>
						<img
							class="figure-m3"
							src="<%= meta.imgPath %>figure-m3-pc.svg"
							alt="エムスリー株式会社"
							width="278"
							height="auto"

						/>
						<img
							class="obj-dot4"
							src="<%= meta.imgPath %>obj-dot4.svg"
							alt=""
							width="146.5"
							height="auto"

						/>
					</div>
					<div class="obj-dot5">
						<img
							src="<%= meta.imgPath %>obj-dot5.svg"
							alt=""
							width="3"
							height="auto"

						/>
					</div>

					<!-- 創薬・マーケティング -->
					<div class="souyaku-marketing">
						<div class="flex">
							<div class="figure-souyaku">
								<img
									class="figure-souyaku"
									src="<%= meta.imgPath %>figure-souyaku-pc.jpg"
									alt="創薬・治験"
									width="434"
									height="auto"

								/>
							</div>
							<div class="figure-marketing">
								<img
									class="figure-marketing"
									src="<%= meta.imgPath %>figure-marketing-pc.jpg"
									alt="マーケティング"
									width="434"
									height="auto"

								/>
							</div>
						</div>
						<div class="seiyaku">製薬／医療機器企業支援</div>
					</div>

					<!-- 創薬・マーケティング -->
				</div>
				<!-- ----------PC表示 end---------- -->
				<div class="bg-gray-inner">
					<!-- 創薬・治験 -->
					<section class="group-card kanja">
						<h4 class="group-card__figure">
							<img
								src="<%= meta.imgPath %>figure-souyaku.jpg"
								alt="創薬・治験 薬剤／医療機器開発支援"
								width="550"
								height="auto"

							/>
						</h4>
					</section>
					<!-- //創薬・治験 -->

					<!-- マーケティング -->
					<section class="group-card kanja">
						<h4 class="group-card__figure">
							<img
								src="<%= meta.imgPath %>figure-marketing.jpg"
								alt="マーケティング 営業／マーケティング支援／データベース事業 広告代理店、コミュニケーションプラットフォームの提供、データベース事業、MR派遣・業務委託（CSO）"
								width="550"
								height="auto"

							/>
						</h4>
					</section>
					<!-- //マーケティング -->
					<div class="seiyaku">
						<h4>製薬／医療機器企業支援</h4>
					</div>
				</div>
			</div>
		</div>
			<!-- ----------------------// PC表示---------------------- -->
    </section>
    <!-- //グループ会社 -->
  </section>
  <!-- //02事業ドメイン -->

  <!-- 03事業内容 -->
  <section class="p-mission-section __3">
    <h2 class="p-mission-section__title js-showUp">
      <div>
        <span class="number"
          ><img
            src="<%= meta.imgPath %>text-mission-num3.svg"
            alt="03"
            width="100"
            height="auto" /></span
        ><span class="text">事業内容</span>
      </di>
    </h2>

    <div class="section-content --flex">
      <div
        class="section-content__bg"
        style="
          background-image: url(<%= meta.imgPath %>bg-mission2.jpg);
          background-size: cover;
        "
      ></div>
      <section class="section-content__text">
        <h3 class="section-content__text__title">
          世界の医師の50%が登録する<br /><span class="spacing"
            >プラットフォーム</span
          >を持つ、<br />
          <span class="spacing">エムスリー</span>ならではの多彩な<br
            class="is-pc"
          /><span class="spacing">ソリューション</span>。
        </h3>
        <p>
          エムスリーが運営する医療従事者向け会員制サイト『m3.com』は全世界の医師の約半数、600万人が登録する世界最大規模の医療従事者向けプラットフォームです。世界中の医師とのネットワークを活かして、医療従事者、製薬メーカーや医療機器メーカー、さらには一般の患者様に至るまで、様々なステイクホルダーに対して多種多様なソリューションを提供しています。
        </p>
      </section>
    </div>

    <!-- グラフ１ -->
    <div class="p-mission-graph">
      <div class="c-graph">
        <div class="c-graph-heading">
          <div class="c-graph-heading__inner">
            <span class="c-graph-caption">Graph 01 </span>
          </div>
          <h3 class="c-graph-heading__title p-mission-graph-title --spacing">
            エムスリーグループの医師会員ネットワーク
          </h3>
        </div>
        <div class="c-graph-img">
          <img
            src="<%= meta.imgPath %>graph-m3-parts.svg"
            alt="エムスリーグループの医師会員ネットワークのグラフ"
            width="700"
            height="auto"

          />
          <div class="c-graph-img --showUp js-showUp">
            <span>
              <img
                src="<%= meta.imgPath %>graph-m3-fukidashi.svg"
                alt="全世界で600万人以上（世界の医師の50%）"
                width="266"
                height="auto"

              />
            </span>
          </div>
        </div>
      </div>
    </div>
    <!-- グラフ１ -->
    <section class="teikei-solution">
      <div class="c-pages-container">
        <h3 class="u-font-bold">提携ソリューション一覧</h3>
        <div class="teikei-solution__list">
          製薬プロモーション支援／医療従事者向けwebセミナープラットフォームの構築／治験サポートサービス／医療従事者対象リサーチサービス／各種医療レポートの提供／医師向けの開業支援サービス／医療機器のオンラインショッピングサービス／一般の方が医師に相談できるQ&Aサイト／健康・機能性商品提供企業に対するマーケティングソリューション／医薬バイオ企業を対象としたコーポテートベンチャーキャピタル／医療従事者向けの就職・転職支援サービス
        </div>
      </div>
    </section>
  </section>
  <!-- //03事業内容 -->

  <!-- 04 DX推進＆AI活用 -->
  <section class="p-mission-section __4">
    <h2 class="p-mission-section__title js-showUp">
      <div class="--flex">
      	<span class="number">
	        <img
	          src="<%= meta.imgPath %>text-mission-num4.svg"
	          alt="04"
	          width="100"
	          height="auto"
	        /> </span
	      ><span class="text">DX推進＆AI活用</span>
      </div>
    </h2>
    <div class="section-content --flex">
      <div
        class="section-content__bg"
        style="
          background-image: url(<%= meta.imgPath %>bg-mission3.jpg);
          background-size: cover;
        "
      ></div>
      <section class="section-content__text">
        <h3 class="section-content__text__title">
          医療現場のDX化には、<br
            class="is-pc"
          />まだこれだけの<br />ポテンシャルがあります。
        </h3>
      </section>
    </div>

    <!-- DX事例 -->
    <section class="dx-ex c-pages-container">
      <h3
        class="dx-ex__title"
        style="background-image: url(<%= meta.imgPath %>obj-dx-under.svg)"
      >
        医療現場のDX化：ポテンシャル事例
      </h3>
      <ul class="dx-ex__items">
        <div class="caption">
          <span class="jurai">従来</span>
          <span class="dxka">DX化</span>
        </div>
        <li class="dx-ex__item js-fadeIn">
          <div>
            <img
              class="dx-ex__item__img"
              src="<%= meta.imgPath %>dx-ex-item1.jpg"
              alt="アクセス。従来は待合室で長時間待つ。DX化でオンライン予約が可能に。"
              width="498"
              height="auto"

            />
            <img
              class="dx-ex__item__img --pc"
              src="<%= meta.imgPath %>dx-ex-pc1.jpg"
              alt="アクセス。従来は待合室で長時間待つ。DX化でオンライン予約が可能に。"
              width="781"
              height="auto"

            />
          </div>
        </li>

        <li class="dx-ex__item js-fadeIn">
          <div>
            <img
              class="dx-ex__item__img"
              src="<%= meta.imgPath %>dx-ex-item2.jpg"
              alt="診察。従来はオフライン。DX化でオフラインとオンラインのハイブリッドが可能。"
              width="498"
              height="auto"

            />
            <img
              class="dx-ex__item__img --pc"
              src="<%= meta.imgPath %>dx-ex-pc2.jpg"
              alt="診察。従来はオフライン。DX化でオフラインとオンラインのハイブリッドが可能。"
              width="781"
              height="auto"

            />
          </div>
        </li>

        <li class="dx-ex__item js-fadeIn">
          <div>
            <img
              class="dx-ex__item__img"
              src="<%= meta.imgPath %>dx-ex-item3.jpg"
              alt="支払い。従来は窓口で支払い。DX化で診療後そのまま帰宅。（電子決済）"
              width="498"
              height="auto"

            />
            <img
              class="dx-ex__item__img --pc"
              src="<%= meta.imgPath %>dx-ex-pc3.jpg"
              alt="支払い。従来は窓口で支払い。DX化で診療後そのまま帰宅。（電子決済）"
              width="781"
              height="auto"

            />
          </div>
        </li>

        <li class="dx-ex__item js-fadeIn">
          <div>
            <img
              class="dx-ex__item__img"
              src="<%= meta.imgPath %>dx-ex-item4.jpg"
              alt="薬。従来は近所の薬局で受け取り。DX化で自宅または職場にデリバリー可能。"
              width="498"
              height="auto"

            />
            <img
              class="dx-ex__item__img --pc"
              src="<%= meta.imgPath %>dx-ex-pc4.jpg"
              alt="薬。従来は近所の薬局で受け取り。DX化で自宅または職場にデリバリー可能。"
              width="781"
              height="auto"

            />
          </div>
        </li>

        <li class="dx-ex__item js-fadeIn">
          <div>
            <img
              class="dx-ex__item__img"
              src="<%= meta.imgPath %>dx-ex-item5.jpg"
              alt="カルテ。従来はアクセスが困難。DX化で自分のカルテはWEB上で閲覧可能。"
              width="498"
              height="auto"

            />
            <img
              class="dx-ex__item__img --pc"
              src="<%= meta.imgPath %>dx-ex-pc5.jpg"
              alt="カルテ。従来はアクセスが困難。DX化で自分のカルテはWEB上で閲覧可能。"
              width="781"
              height="auto"

            />
          </div>
        </li>

        <li class="dx-ex__item js-fadeIn">
          <div>
            <img
              class="dx-ex__item__img"
              src="<%= meta.imgPath %>dx-ex-item6.jpg"
              alt="夜間緊急対応。従来は翌日まで待つ。DX化でオンライン24時間対応"
              width="498"
              height="auto"

            />
            <img
              class="dx-ex__item__img --pc"
              src="<%= meta.imgPath %>dx-ex-pc6.jpg"
              alt="夜間緊急対応。従来は翌日まで待つ。DX化でオンライン24時間対応"
              width="781"
              height="auto"

            />
          </div>
        </li>
      </ul>
      <!-- 従来とDX化 end -->
      <div class="dx-ex__title-under">
        <p class="dx-ex__title-under__inner">
          <span class="dx-ex__title-under__text">「医療×IT」の領域で、</span>
          <span class="dx-ex__title-under__text"
            >世界の<span class="spacing">デファクトスタンダード</span
            >をつくる。</span
          >
        </p>
      </div>
      <!-- デファクトスタンダードをつくる end -->
      <div class="dx-box-container">
        <ol class="dx-box-items">
          <li class="dx-box-item js-fadeIn">
            <article>
              <section>
                <h3 class="dx-box-heading">
                  DX推進事例<span class="num">01</span>
                </h3>
                <h3 class="dx-box-title">
                  クラウド電子カルテ市場シェア<br />70%の『M3デジカル』
                </h3>
                <div class="dx-box-img __1">
                  <img
                    src="<%= meta.imgPath %>obj-dx-box1.svg"
                    alt=""
                    width="337.7"
                    height="auto"

                  />
                </div>
                <p class="dx-box-text">
                  医療従事者のニーズにマッチした電子カルテとして、圧倒的な市場シェアを誇る『M3デジカル』。累計導入件数は2600件を超え、管理するカルテ数は5000万件以上。そのカルテデータも、また新たなサービスやプロダクト開発のための大切な資産となっています。
                </p>
              </section>
            </article>
          </li>

          <li class="dx-box-item js-fadeIn">
            <article>
              <section>
                <h3 class="dx-box-heading">
                  DX推進事例<span class="num">02</span>
                </h3>
                <h3 class="dx-box-title">
                  オンライン診療を可能にする<br />『LINEドクター』
                </h3>
                <div class="dx-box-img __2">
                  <img
                    src="<%= meta.imgPath %>obj-dx-box2.png"
                    alt=""
                    width="308"
                    height="auto"

                  />
                </div>
                <p class="dx-box-text">
                  LINE株式会社との共同出資により設立した合弁会社LINEヘルスケア株式会社にて、医療機関の検索・予約から実際の診察・決済まで、すべてLINE上で完結できるオンライン診療サービス「LINEドクター」の提供を開始。首都圏の一部施設からスタートし徐々に対応エリアを拡大。高速でPDCAを回しサービス改善をつづけています。
                </p>
              </section>
            </article>
          </li>

          <li class="dx-box-item js-fadeIn">
            <article>
              <section>
                <h3 class="dx-box-heading">
                  DX推進事例<span class="num">03</span>
                </h3>
                <h3 class="dx-box-title">
                  医療機関における<br />キャッシュレス決済を実現
                </h3>
                <div class="dx-box-img __3">
                  <img
                    src="<%= meta.imgPath %>obj-dx-box3.png"
                    alt=""
                    width="180"
                    height="auto"
                  />
                </div>
                <p class="dx-box-text">
                  国内シェアNo.1のクラウド型電子カルテ『M3デジカル』と受付・会計を連携し、医療現場のDX推進、新型コロナ感染対策ソリューションの一環としてキャッシュレス決済サービスの提供を開始。今後、支払いにとどまらず予約・問診・診療等にもDX支援を拡充していく予定です。
                </p>
              </section>
            </article>
          </li>

          <li class="dx-box-item js-fadeIn">
            <article>
              <section>
                <h3 class="dx-box-heading">
                  DX推進事例<span class="num">04</span>
                </h3>
                <h3 class="dx-box-title">
                  AIプラットフォームを通じた<br />多様な画像診断支援を可能に
                </h3>
                <div class="dx-box-img __4">
                  <img
                    src="<%= meta.imgPath %>obj-dx-box4.png"
                    alt=""
                    width="346"
                    height="auto"

                  />
                </div>
                <p class="dx-box-text">
                  医療クラウドサービスを提供する株式会社NOBORIとの事業提携を通じて、医用画像診断AIプラットフォーム事業を開始。多様な画像診断支援AIアルゴリズムを搭載することで、幅広い疾病において精度の高い診断支援が実現しました。
                </p>
              </section>
            </article>
          </li>
        </ol>
      </div>
    </section>
    <!-- //DX事例 -->

    <div class="last-message">
      <div class="last-message__img c-show-box js-showReveal">
        <div class="c-show-box__inner last-message__img__inner">
					<img
					src="<%= meta.imgPath %>bg-mission-4.jpg"
					alt=""
					width="1366"
					height="auto"

				/>
        </div>
      </div>
      <div class="last-message__text">
        <div class="c-show-box js-showReveal">
          <p class="c-show-box__inner last-message__text__inner">
            全世界から成長が期待される産業で、<br />共に挑戦する同志を募集しています。
          </p>
        </div>
      </div>
    </div>
  </section>

  <div class="c-btn__anchor">
    <button type="button" id="js-scrollTop">
			<img
				src="<%= meta.imgPath %>btn-anchor-arrow.svg"
				alt=""
				width="222"
				height="auto"

		/></button>
  </div>
</main>
