<main class="main about-main parallax-container" data-scroll-section>
  <div class="c-kvHalf">
    <div class="c-kvHalf__text">
      <div class="loading-fade">
      	<h1 class="c-kvHalf__title">
	          <span class="c-kvHalf__yumin ">エムスリーについて</span>
	      </h1>
				<section class="c-kvHalf__title__bottom js-startLoaded">
					<div class="c-kvHalf__number"><span>01</spa></div>
		      <h1 class="c-kvHalf__en">ABOUT<span>&nbsp;</span><br />US</h1>
				</section>
      </div>
    </div>

    <div class="c-kvHalf__bg c-kvBgFade">
      <div class="c-kvBgFade__img js-startLoaded">
				<picture>
					<source
						media="(min-width: 960px)"
						srcset="<%= meta.imgPath %>bg-about-kv-pc_1.jpg"
					/>
					<img
						src="<%= meta.imgPath %>bg-about-kv.jpg"
						alt=""
						width="1366"
						height="auto"
					/>
				</picture>
			</div>
    </div>
  </div>

	<div class="p-about-content">

		<div class="p-about-text-box p-about-content__mission">
			<a href="<%= meta.linkPath %>about/mission.html">
				<section class="title-box">
					<h2 class="title-small">ミッションと事業</h2>
					<h3 class="title-large">「医療×IT」で<br>世界を変える。</h3>
				</section class="title-box">
				<div class="about-readmore">
					<picture>
						<source
							media="(min-width: 1025px)"
							srcset="<%= meta.imgPath %>btn-about-main-pc.svg"
						/>
						<img
							src="<%= meta.imgPath %>btn-about-main.svg"
							alt="READ MORE"
							width="1366"
							height="auto"
						/>
					</picture>
				</div>
			</a>
		</div>

		<div class="p-about-text-box p-about-content__culture">
			<a href="<%= meta.linkPath %>about/culture.html">
				<section class="title-box">
					<h2 class="title-small">エムスリーの文化</h2>
					<h3 class="title-large"><img
						src="<%= meta.imgPath %>text-about-culture.svg"
						alt="M3 ism"
						width="500"
						height="auto"
					/></h3>
				</section>
				<div class="about-readmore">
					<picture>
						<source
							media="(min-width: 1025px)"
							srcset="<%= meta.imgPath %>btn-about-main-pc.svg"
						/>
						<img
							src="<%= meta.imgPath %>btn-about-main.svg"
							alt="READ MORE"
							width="1366"
							height="auto"
						/>
					</picture>
				</div>
			</a>
		</div>

		<div class="p-about-text-box p-about-content__data">
			<a href="<%= meta.linkPath %>about/data.html">
				<section class="title-box">
					<h2 class="title-small">数字で見る成長環境</h2>
					<h3 class="title-large">数字で見る<br class="is-sp">エムスリーの<br>成長環境</h3>
				</section>
				<div class="about-readmore">
					<picture>
						<source
							media="(min-width: 1025px)"
							srcset="<%= meta.imgPath %>btn-about-main-pc.svg"
						/>
						<img
							src="<%= meta.imgPath %>btn-about-main.svg"
							alt="READ MORE"
							width="1366"
							height="auto"
						/>
					</picture>
				</div>
			</a>
		</div>

	</div>

  <div class="c-btn__anchor">
    <button type="button" id="js-scrollTop">
			<img
				src="<%= meta.imgPath %>btn-anchor-arrow.svg"
				alt=""
				width="222"
				height="auto"
		/></button>
  </div>
</main>
