<main class="main recruit-main parallax-container" data-scroll-section>
  <div class="c-kvHalf">
    <div class="c-kvHalf__text">
      <h1 class="c-kvHalf__title">
        <span class="c-kvHalf__yumin --recruit">採用情報</span>
      </h1>
      <section class="c-kvHalf__title__bottom --recruit js-startLoaded">
        <div class="c-kvHalf__number"><span>03</span></div>
        <h1 class="c-kvHalf__en">
          <img
            src="<%= meta.imgPath %>text-recruit-kv.svg"
            alt="RECRUIT"
            width="786"
            height="auto"
          />
        </h1>
      </section>
    </div>

    <div class="c-kvHalf__bg c-kvBgFade">
      <div class="c-kvBgFade__img js-startLoaded">
			<picture>
				<source
					media="(min-width: 960px)"
					srcset="<%= meta.imgPath %>bg-recruit-kv-pc.jpg"
				/>
				<img
					src="<%= meta.imgPath %>bg-recruit-kv.jpg"
					alt=""
					width="1366"
					height="auto"
				/>
			</picture>
		</div>
    </div>
  </div>

  <div class="p-recruit-content">
    <section class="p-recruit-text">
      <h2 class="title">
        それぞれの個性と志向に合わせた<br
          class="is-sp"
        />ジョブローテーションを通じて、<br />最短距離で理想のキャリアを掴んでほしい。
      </h2>
      <p class="desc">
        新入社員一人ひとり、<br class="is-sp">個性も違えば思い描くキャリアも違う。<br class="is-sp">だからこそエムスリーでは、<br class="is-sp">定型化したキャリアの枠に<br>社員を当てはめるのではなく、<br class="is-sp">各々の志向や得意分野に合わせた<br class="is-sp">ジョブローテーションを実施しています。<br/>20代前半で海外グループ会社への出向や<br class="is-sp">新規事業開発を経験する社員も少なくありません。<br>ジョブローテーションを通じて幅広い経験とスキルを<br class="is-sp">手にし、<br class="is-pc">多様なスキルの掛け算で<br class="is-sp">自らの市場価値を大きく高めてください。
      </p>
    </section>

    <section class="p-recruit-list">
      <ul class="p-recruit-items">
        <li class="p-recruit-item __bosyu">
          <h2 class="p-recruit-item__title">募集職種</h2>
					<dl>
					<dt class="u-font-bold sougou">総合職</dt>
					<dd class="sougou">初期配属は、ソリューションパートナービジネスユニット（SPBU）にて、戦略コンサルティング（製薬企業向けマーケティング戦略の策定・提案、及び、実行支援）にチャレンジしていただきます。</dd>
				</dl>
          <div class="p-recruit-item__content __bosyu">
					<div class="bosyu-job">
						<h3 class="bosyu-job__title u-font-bold">●M3のジョブローテーション</h3>
						<picture class="bosyu-job__figure">
							<source
								media="(min-width: 960px)"
								srcset="<%= meta.imgPath %>figure-bosyu-pc.svg"
							/>
							<img
								src="<%= meta.imgPath %>figure-bosyu.svg"
								alt="入社3年目まではSPBU戦略コンサルティング、4年目以降は継続か異動。"
								width="700"
								height="auto"
							/>
						</picture>
					</div>
					<h3 class="bosyu-job__title --blue u-font-bold">20代で異動できる部署の一例</h3>
					<dl class="bosyu-job__item">
						<dt>
							<p>新規ビジネス<span class="small">
									（0→1、1→10、<br>10→100）
								</span>
							</p></dt>
							<dd>新規事業や比較的新しく、小規模の事業のビジネスをスケール</dd>
					</dl>
					<dl class="bosyu-job__item">
						<dt>Ｍ＆Ａ</dt>
							<dd>企業・事業戦略を理解、M&A対象を探索<br>対象企業のソーシングからPMIまで実行</dd>
					</dl>
					<dl class="bosyu-job__item">
						<dt>グローバル<br class="is-sp">ビジネス</dt>
							<dd>海外グループ会社の価値・インパクト創出（グローバルプロダクトマネージャー等）</dd>
					</dl>
					<dl class="bosyu-job__item">
						<dt>デジタル<br class="is-sp">マーケティング</dt>
							<dd>m3.com会員活性化、サイトの設計・改善など、M3のネット企業側面を深く理解</dd>
					</dl>
					<dl class="bosyu-job__item">
						<dt>データ<br class="is-sp">サイエンティスト
							</dt>
							<dd>m3グループの多様なサービスを通じ、データドリブンな課題解決の進め方を理解</dd>
					</dl>
					<p class="bosyu-job__note">※3年を待たずに部署異動できる可能性もあります。</p>
          </div>
        </li>

        <li class="p-recruit-item">
          <h2 class="p-recruit-item__title">応募資格</h2>
          <div class="p-recruit-item__content">
            <p>
              <span class="u-font-bold">2023年度、大学/大学院卒業予定の方</span
              ><br />（学部不問、医療・医薬品に関する製薬知識不要、国籍不問）
            </p>
          </div>
        </li>
        <li class="p-recruit-item">
          <h2 class="p-recruit-item__title">選考フロー</h2>
          <div class="p-recruit-item__content">
            <p>
              <span class="u-font-bold"
                >エントリー → WEBテスト → 1次面接 → 2次面接 → 3次面接 →
                オファー</span
              ><br />※面接フローは変更になる可能性があります。
            </p>
          </div>
        </li>
        <li class="p-recruit-item __jouken">
          <h2 class="p-recruit-item__title">諸条件</h2>
          <div class="p-recruit-item__content">
            <dl>
              <dt><span>勤</span><span>務</span><span>時</span><span>間</span></dt>
              <dd>9:00～17:45</dd>
            </dl>
            <dl>
              <dt><span>勤</span><span>務</span><span>地</span></dt>
              <dd>東京（本社）</dd>
            </dl>
            <dl>
              <dt><span>給</span><span>与</span></dt>
              <dd>年俸制　※昇給年1回、賞与年2回</dd>
            </dl>
            <dl>
              <dt><span>労</span><span>働</span><span>制</span></dt>
              <dd>専門業務型裁量労働制（月30時間分の固定残業手当含む）</dd>
            </dl>
            <dl>
              <dt><span>各</span><span>種</span><span>手</span><span>当</span></dt>
              <dd>深夜残業・休日勤務</dd>
            </dl>
						<dl>
              <dt class="holiday"><span>休</span><span>日</span><span>・</span><span>休</span><span>暇</span></dt>
              <dd class="holiday">
                完全週休2日・祝祭日・年末年始・慶弔休暇・産前産後・育児・介護<br>有給休暇（初年度17日付与）※以後毎年勤続年数に応じた日数を付与。（最大24日）
              </dd>
            </dl>
						<dl>
              <dt><span>社</span><span>会</span><span>保</span><span>険</span></dt>
              <dd>
                関東ITソフトウェア健康保険・厚生年金保険・雇用保険・労災保険
              </dd>
            </dl>
						<dl>
              <dt class="--column"><div class="--flex"><span>生</span><span>活</span><span>・</span><span>健</span><span>康</span></div><div class="--flex --left"><span>支</span><span>援</span></div></dt>
              <dd>
								M3 Patient Support Program&reg;（M3PSP&reg;）・年次健康診断（人間ドック）<br class="is-sp">インフルエンザ予防接種補助<br>慶弔金・傷病見舞金
              </dd>
            </dl>
          </div>
        </li>

        <li class="p-recruit-item __jouken __syain">
          <h2 class="p-recruit-item__title">社員エンゲージメント環境</h2>
          <div class="p-recruit-item__content">
            <dl>
              <dt><span>資</span><span>産</span><span>形</span><span>成</span><span>支</span><span>援</span></dt>
              <dd>確定拠出年金・社員持株会・借上社宅</dd>
            </dl>
            <dl>
              <dt><span>優</span><span>勝</span><span>者</span><span>・</span><span>チ</span><span>ー</span><span>ム</span><span>表</span><span>彰</span></dt>
              <dd>MVP賞・イノベーション賞</dd>
            </dl>
            <dl>
              <dt class="--spacing"><span>学</span><span>習</span><span>・</span><span>キ</span><span>ャ</span><span>リ</span><span>ア</span><span>支</span><span>援</span></dt>
              <dd class="--height">目標面談制度（年2回の目標・評価サイクル）<br>キャリアカウンセリング・メンタリングサポート<br>1on1サポート・教育サポート<br>各種勉強会開催、学会参加支援（該当部署別）<br>業務資格取得支援・公的資格関連費用支援<br>社内公募・海外赴任支援金</dd>
            </dl>
          </div>
        </li>

				<li class="p-recruit-item __etc">
          <h2 class="p-recruit-item__title">職場・業務環境</h2>
          <div class="p-recruit-item__content">
           <p class="etc-text u-font-bold">ウォーターサーバー・空気清浄機整備</p>
           <p class="etc-text u-font-bold">PC貸与・デュアルディスプレイ貸与（特定業務用）</p>
          </div>
        </li>
      </ul>
    </section>
  </div>

  <div class="c-btn__anchor">
    <button type="button" id="js-scrollTop">
			<img
				src="<%= meta.imgPath %>btn-anchor-arrow.svg"
				alt=""
				width="222"
				height="auto"
		/></button>
  </div>
</main>
